--- !repo.random.org,2019-03-02/projects
projects:
    - name: "Projects (master project)"
      git_server_alias: nitro
      git_path: /data/git/projects.git
      path: ''
    - name: "3D Designs"
      git_server_alias: nitro
      git_path: /data/git/3d_designs.git
      path: 3d_designs
    - name: "Animals"
      git_server_alias: nitro
      git_path: /data/git/animals.git
      path: animals
    - name: "Axum (by tokio-rs)"
      git_server_alias: github
      git_path: /markussilvan/axum.git
      path: forks/axum
    - name: "Bullet Log"
      git_server_alias: forgejo
      git_path: /mape/bullet-log.git
      path: bullet-log
    - name: "Configuration files"
      git_server_alias: nitro
      git_path: /data/git/configs.git
      path: configs
    - name: "Devbox"
      git_server_alias: nitro
      git_path: /data/git/devbox.git
      path: devbox
    - name: "Dit"
      git_server_alias: nitro
      git_path: /data/git/dit.git
      path: dit
    - name: "DokuWiki patches"
      git_server_alias: nitro
      git_path: /data/git/dokuwiki_patches.git
      path: dokuwiki_patches
    - name: "FreeCAD macros"
      git_server_alias: nitro
      git_path: /data/git/freecad_macros.git
      path: freecad_macros
    - name: "List App"
      git_server_alias: nitro
      git_path: /data/git/list-app.git
      path: list-app
    - name: "Mazetool"
      git_server_alias: nitro
      git_path: /data/git/mazetool.git
      path: mazetool
    - name: "MeTube"
      git_server_alias: forgejo
      git_path: /mape/metube.git
      path: metube
    - name: "MLib"
      git_server_alias: nitro
      git_path: /data/git/mlib.git
      path: mlib
    - name: "Orderly"
      git_server_alias: forgejo
      git_path: /mape/orderly.git
      path: orderly
    - name: "Rust OPC UA (by locka99)"
      git_server_alias: github
      git_path: /markussilvan/opcua.git
      path: forks/opcua
    - name: "Playground"
      git_server_alias: nitro
      git_path: /data/git/playground.git
      path: playground
    - name: "Puzzhagoras Solver"
      git_server_alias: nitro
      git_path: /data/git/puzzhagoras_solver.git
      path: puzzhagoras_solver
    - name: "Puzzles"
      git_server_alias: nitro
      git_path: /data/git/puzzles.git
      path: puzzles
    - name: "Reqwest"
      git_server_alias: github
      git_path: /markussilvan/reqwest.git
      path: forks/reqwest
    - name: "Rust Bevy WASM Snake"
      git_server_alias: nitro
      git_path: /data/git/rust-bevy-wasm-snake.git
      path: rust-bevy-wasm-snake
    - name: "Scripts"
      git_server_alias: nitro
      git_path: /data/git/scripts.git
      path: scripts
    - name: "Sewing projects"
      git_server_alias: nitro
      git_path: /data/git/sewing.git
      path: sewing
    - name: "SparkPlug"
      git_server_alias: github
      git_path: /markussilvan/sparkplug-rs.git
      path: forks/sparkplug-rs
    - name: "Tools"
      git_server_alias: nitro
      git_path: /data/git/tools.git
      path: tools
    - name: "Hardware projects"
      git_server_alias: nitro
      git_path: /data/git/hw.git
      path: hw
    - name: "Common libraries, components, etc"
      git_server_alias: nitro
      git_path: /data/git/hw/common.git
      path: hw/common
    - name: "mape09: SimDashboard"
      git_server_alias: nitro
      git_path: /data/git/hw/simdashboard.git
      path: hw/mape09_simdashboard
    - name: "mape10: Cyclone PCB CNC"
      git_server_alias: nitro
      git_path: /data/git/hw/cyclone.git
      path: hw/mape10_cyclone_pcb_factory
    - name: "mape13: Clock"
      git_server_alias: nitro
      git_path: /data/git/hw/clock.git
      path: hw/mape13_clock
    - name: "mape15: PC fan controller"
      git_server_alias: nitro
      git_path: /data/git/hw/pc_fan_controller.git
      path: hw/mape15_pc_fan_controller
    - name: "mape17: Pinball controller"
      git_server_alias: nitro
      git_path: /data/git/hw/pinball_controller.git
      path: hw/mape17_pinball_controller
    - name: "Issues: Rust Bevy WASM Snake"
      git_server_alias: nitro
      git_path: /data/git/issues/rust-bevy-wasm-snake.git
      path: rust-bevy-wasm-snake/issues
